#image-section {
    width: 100%;
    height: 400px;
    background: url("../../images/inner-pages/logistic_banner.jpeg") center;
    background-size: cover;
    position: relative;
    /* margin-bottom: -70px; */
  }
  @media (max-width: 992px) {
    #hero {
      margin-bottom: -60px;
    }
  }
  #image-section:before {
    content: "";
    /* background: rgba(21, 5, 23, 0.5) linear-gradient(rgba(26, 0, 33, 0.5) 0%, rgba(26, 0, 33, 0.5) 5%, rgba(38, 6, 51, 0.5) 40%, rgba(147, 47, 69, 0.7) 76%, rgba(236, 97, 93, 0.7) 94%, rgba(236, 97, 93, 0.5) 100%) repeat scroll 0% 0%; */
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #image-section .image-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .image-container h1{
    color: white;
  }


.right-side-footer{
    text-align: left;
}
#footer .footer-top p{
    margin: 15px 0 0 0;
}
.left-side-footer{
    text-align: left;
}
#footer .content .left-side-footer ul li{
    font-size: 1rem;
}